/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

header,section,article,aside,footer{
  display: block;
}

body {
  background: #EEE;
  font-family: Verdana;
  font-size: 13px;
  line-height: 18px;
}

#page_container {
  width: 800px;
  margin: 0 auto;
}



#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#bg-cog {
  padding: 20px;
  width: 400px;
  position: absolute;
  margin: 0 auto;
  top: -71px;
  left: 50%;
  margin-left: -561px;
  z-index: -1;
}

#logo-container {
  width: 300px;
  position: relative;
  left: 400px;
  background-image: url("/assets/images/banner.png");
  background-repeat: no-repeat;
}

#header h1 {
  color: white;
  text-shadow: 0px 1px 2px #000;
  font-size: 4em;
}

#header h2 {
  color: white;
  text-shadow: 0px 1px 2px #000;
}

#header h1 a {
  color: #FFF;
  text-decoration: none;
}
#header h1 a:hover {
  text-decoration: underline;
}

#menu {
  margin: 0 auto;
  background-color:#0065FF; 
}

#menu ul {
  list-style: none;
  margin: 0 auto 0;
  display: block;
  width: 764px;
  height:43px;
  line-height: 43px;
  position:relative;
}

#page {
  margin: 0 auto;
}


#menu ul > li {
  float: left;
  margin-right: 10px;
}

#menu ul > li a {
  display: block;
  padding: 0px 10px;
  text-decoration: none;
  color: #FFF;
}

#menu ul > li a:hover, #menu ul > li.selected {
  background: #000;
  color: #FFF;
}

footer {
  margin: 0 auto;
  width: 500px;
}
footer img {
  border: 1px solid black;
  vertical-align: middle;
  box-shadow: 5px 5px 3px #888;

}
